{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <h1 class="w3-center w3-text-orange"><b>Chemistry Lessons</b></h1>
    </div>
    <div>
        <h3 class="w3-border-orange w3-topbar">Quizzes</h3>
        <p>These are short answer quizzes.  They are ideal for retrieval practice or reviewing key facts about a topic.</p>
            <table class="w3-table w3-bordered">
                <tr class="w3-orange">
                    <th style="width:20%">
                        Title
                    </th>
                    <th style="width:50%">
                        Description
                    </th>
                    <th style="width:30%">
                        Link to resource
                    </th>
                </tr>
                {% for saq in saqs %}
                <tr>
                    <td>
                        {{ saq.title }}
                    </td>
                    <td>
                        {{ saq.description }}
                    </td>
                    <td>
                        <video video controls="controls" src= "{{ saq.link }}" style="width:50%">
                        Your browser does not support the HTML5 Video element.
                        </video>
                        <!-- <a style="color:orange;" href = "{{ saq.link }}">Link</a> -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div>
            <h3 class="w3-border-orange w3-topbar">Lessons</h3>
                <p>These lessons are ideal for learning a new topic.  You can make notes from them and use the questions and answers at the end of the videos to make sure
                you understood the key information.</p>
                    <table class="w3-table w3-bordered">
                        <tr class="w3-orange">
                            <th style="width:20%">
                                Title
                            </th>
                            <th style="width:50%">
                                Description
                            </th>
                            <th style="width:30%">
                                Link to resource
                            </th>
                        </tr>
                        {% for note in notes %}
                        <tr>
                            <td>
                                {{ note.title }}
                            </td>
                            <td>
                                {{ note.description }}
                            </td>
                            <td>
                                <video video controls="controls" src= "{{ note.link }}" style="width:50%">
                                Your browser does not support the HTML5 Video element.
                                </video>
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
        </div>


{% endblock %}