{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class = "w3-center">
        <div>
            <img class="w3-image" src= {% static "pages/images/36936.jpg" %} alt="chemical glassware with coloured solutions" style="width:100%;">
            <div class="w3-right-align"><a class="w3-text-dark-gray"  href="http://www.freepik.com"><small>Image Credit: Designed by brgfx / Freepik</small></a></div>
        </div>
        <div>
            <h1 class="w3-center w3-text-orange"><b>Chemistry Lessons</b></h1>
        </div>
    </header>
    <div class="w3-bar w3-orange w3-round">
        <a href="{% url 'all_resources' %}" class="w3-bar-item w3-button">Go To Resources</a>
    </div>
    <div class="w3-center" >
        <div class ="w3-container w3-text-orange">
            <h3>Welcome to chemistrylessons.co.uk</h3>
            <h3>Covers the UK GCSE chemistry curriculum </h3>
        </div>
        <div class = "w3-container w3-orange w3-round" style="padding-left:2%;">
            <div class="w3-row">
                <div class="w3-col s6 m4 l4" >
                    <h4>Students</h4>
                    <img class="w3-image w3-image1" src= {% static "pages/images/1529291032.svg" %} alt="chemistry students">
                    <p>Improve your chemistry grade</br>Video Lessons</br>Study at your pace</br>Worksheets for Exam Prep</br>Answers included</p>
                </div>
                <div class="w3-col s6 m4 l4">
                    <h4>Teachers</h4>
                    <img class="w3-image w3-image2" src= {% static "pages/images/1545657082.svg" %} alt="chemistry teacher">
                    <p>Save time planning</br>Flipped Learning</br>Independent Learning</br>Homework</br>Extend Learning</br>Cover Work</p></br>
                </div>
                <div class="w3-col s12 m4 l4" >
                    <h4>Parents</h4>
                    <img class="w3-image w3-image3" src= {% static "pages/images/1526078043.svg" %} alt="worried parent">
                    <p>Worried about your child's progress?</br>Alternative to private tuition</br>Improve your subject knowledge</br>
                    Exam Focused</br>Answers included</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
