{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div>
        <h1 class="w3-text-orange w3-center"><b>Password Reset</b></h1>
    </div>
    <form method="post">
      {% csrf_token %}
        <div class="w3-container w3-middle" style="padding-left:20%; padding-right:20%;">
            <div class="w3-card-4 w3-orange w3-round-xlarge w3-padding-large w3-text-dark-grey" >
                <table>
                    {% for field in form %}
                        <tr>
                          <td>
                              {{ field.label_tag }}
                          </td>
                          <td>
                           {{ field }}
                          </td>
                        </tr>
                        <tr>
                          <td>
                              {% if field.help_text %}
                                <small style="color: white">{{ field.help_text|safe }}</small>
                              {% endif %}
                              {% for error in field.errors %}
                                <p style="color: red">{{ error|safe }}</p>
                              {% endfor %}
                          </td>
                        </tr>
                     {% endfor %}
                </table>
                <button class="w3-button w3-right w3-dark-grey w3-round-large" type="submit">Save changes</button>
                </br></br>
            </div>
        </div>

    </form>

{% endblock %}